{% extends 'base.html' %}

{% block title %}
  tour
{% endblock %}

{% block body %}
  <div class="card mb-9" style="max-width: 1500px; height: 300px; margin-bottom: 5px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://random.imagecdn.app/1600/950/?sikkim" class="img-fluid rounded-start" alt="..."/>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Goechala Trek, Sikkim</h2>
          <p class="card-text">GoechaLa trek is nestled at a height of 16,207 ft, with a closer look at the third-highest peak-Mt. Kanchenjunga. It is a dream and desire for hundreds of adventure lovers. Bounded by the mesmerizing flora and fauna, which are so vibrant and colourful to cheer up one's mood. The GoechaLa pass trek is a bundle of big summits, making it an absolute adventure to embark on. The trail link with the famous Kanchenjunga National Park, where one can witness the true nature, enough to revitalize your senses. To watch the mountains clearly, April and May are the ideal months. Since the sky is completely clear during this time and the sunset-sunrise views can be captured.</p>
          <p class="card-text">
            <a href="https://www.thrillophilia.com/tours/goecha-la-trek"><button type="button" class="btn btn-sm btn-outline-secondary">Need Details?</button></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-9" style="max-width: 1500px; height: 300px; margin-bottom: 5px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://random.imagecdn.app/1600/950/?sikkim?ladakh" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Leh Ladakh with Pangong Lake</h2>
          <p class="card-text">Get ready to make your dream of going on a road trip in Ladakh come true, where one would be experiencing the fusion of thrill, serene beauty, and culture of the "Land of High Passes", as the entire tour is exclusively chosen by Thrillophilia's outdoor experts. A wonderful drive through Leh-Ladakh, a land covered with snow-capped mountains and the highest motorable passes, makes you feel at the top of the world. The unique thing about the Ladakh terrain is that it has mountains, forests, deserts, lakes, rivers, and waterfalls in one beautiful and dynamic geography.</p>
          <p class="card-text">
            <a href="https://www.thrillophilia.com/tours/thrilling-leh-ladakh-tour-with-pangong-lake"><button type="button" class="btn btn-sm btn-outline-secondary">Need Details?</button></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-9" style="max-width: 1500px; height: 300px; margin-bottom: 5px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://random.imagecdn.app/1600/950/?sikkim?manali" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Manali Leh Srinagar Bike Adventure</h2>
          <p class="card-text">Get ready to make your dream of riding in Ladakh come true in the action-packed bike trip where one would be experiencing the fusion of thrill, serene beauty and culture of the "Land of High Passes", as the entire tour is exclusively elected by Thrillophilia's outdoor experts. This circuit features some of the world’s highest motorable passes with the spectacular beauty of snow-capped mountains, Lakes, rivers on their side while covering these breathtaking destinations, Solang valley, Gata Loops, Zojila pass, Kargil, Magnetic hill, Confluence of Indus, And Zanskar river, Dal lake and much more waiting on the way!</p>
          <p class="card-text">
            <a href="https://www.thrillophilia.com/tours/overland-journey-to-ladakh"><button type="button" class="btn btn-sm btn-outline-secondary">Need Details?</button></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-9" style="max-width: 1500px; height: 300px; margin-bottom: 5px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://random.imagecdn.app/1600/950/?sikkim?waterfall" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Kaziranga Meghalaya Wildlife Tour</h2>
          <p class="card-text">Let your adventurous spirit roam free into the wilderness and natural beauty of the hidden gems of Meghalaya. Explore India only home for one-horned rhinoceros at Kaziranga National Park. Admire the panoramic beauty of the cloud draped valleys at the Laitlum Canyon, India Scotland of the East.</p>
          <p class="card-text">
            <a href="https://www.thrillophilia.com/tours/shillong-kaziranga-tour"><button type="button" class="btn btn-sm btn-outline-secondary">Need Details?</button></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-9" style="max-width: 1500px; height: 300px; margin-bottom: 5px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://random.imagecdn.app/1600/950/?sikkim?kashmir" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">EXCLUSIVE Winter Kashmir Holiday</h2>
          <p class="card-text">Spend a fun filled family vacation to the 3 crowned jewels in the paradise of all amidst the lofty green Himalayas hailed all over the world to glittering lakes surrounded by stationary houseboats in the Heaven on Earth - Kashmir. From watching sunset in a Shikara ride on the rippling Dal Lake to witnessing the running water in the canals reflecting the beauty of the sky and the Himalayas in the Mughal Gardens, Kashmir has it all. Live the magical family moments with cozy and comfortable suites, warm hosts combined with delicious Kashmiri food will make up a unique and idyllic stay in a houseboat</p>
          <p class="card-text">
            <a href="https://www.thrillophilia.com/tours/charistmatic-private-kashmir-family-tour-package"><button type="button" class="btn btn-sm btn-outline-secondary">Need Details?</button></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-9" style="max-width: 1500px; height: 300px; margin-bottom: 5px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://random.imagecdn.app/1600/950/?sikkim?jaipur" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Jaipur Udaipur Jodhpur Jaisalmer</h2>
          <p class="card-text">The land of vibrant colors, rich heritage, scenic locations, majestic lakes, beautiful palaces, golden sands and everything else in between, Rajasthan with its royal essence welcomes you with all its heart. With this tour package experience the transition from rich greenery and serene lakes in Jaipur Udaipur to the dry deserts in Jodhpur and Jaisalmer.</p>
          <p class="card-text">
            <a href="https://www.thrillophilia.com/tours/fall-in-love-with-rajasthan"><button type="button" class="btn btn-sm btn-outline-secondary">Need Details?</button></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-9" style="max-width: 1500px; height: 300px; margin-bottom: 5px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://random.imagecdn.app/1600/950/?sikkim?beach" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Leh Ladakh with Pangong Lake</h2>
          <p class="card-text">Get ready to make your dream of going on a road trip in Ladakh come true, where one would be experiencing the fusion of thrill, serene beauty, and culture of the "Land of High Passes", as the entire tour is exclusively chosen by Thrillophilia's outdoor experts. A wonderful drive through Leh-Ladakh, a land covered with snow-capped mountains and the highest motorable passes, makes you feel at the top of the world. The unique thing about the Ladakh terrain is that it has mountains, forests, deserts, lakes, rivers, and waterfalls in one beautiful and dynamic geography.</p>
          <p class="card-text">
            <a href="https://www.thrillophilia.com/tours/thrilling-leh-ladakh-tour-with-pangong-lake"><button type="button" class="btn btn-sm btn-outline-secondary">Need Details?</button></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </p>
{% endblock %}
