{% extends 'base.html' %}

{% block title %}
  Punducherry
{% endblock %}

{% block body %}
  
  <div class="row featurette">
    <div class="col-md-7 px-7 px-5">
      <h2 class="featurette-heading fw-normal lh-1 my-5">Punducherry</h2>
      <p class="lead">
        <strong>The calm and colourful Union Territory of Puducherry lies on India's southern coast. A former French colony, it is known for age-old monuments, majestic churches, exotic beaches, and tree-lined boulevards.</strong>

        <br /><br />

        <b>Attractions:</b>
        <br /> -Promenade Beach<br />
        -Auroville<br />
        -Sri Aurobindo Ashram<br />
        -French Quarter<br />
        -Paradise Beach<br />
        -Matrimandir<br />
        -Botanical Garden<br />

        <br /><br />

        <b>Tips:</b>
        <br /> ->Visit during October to February<br />
        ->Respect local customs and traditions<br />
        ->Wear lightweight clothing and sunscreen<br />
        ->Use mosquito repellent<br />
      </p>
    </div>
    <style>
      .frame {
        width: 500px;
        height: 500px;
        border: 3px solid #ccc;
        background: #eee;
        margin: auto;
        padding: 15px 10px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    </style>
    <div class="frame">
      <img src="static\img\tim-trad-BYPMtjYMEyk-unsplash.jpg" alt="Nature" aling="right" />
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7 order-md-2 px-7">
      <h2 class="featurette-heading fw-normal lh-1 my-5">How to reach? <span class="text-body-secondary"></span></h2>
      <p class="lead">
        Certainly, here's a concise overview of how to reach Puducherry:<br />

        <br />You can reach Puducherry by:<br />

        <b>Air:</b> ,<br /> The nearest major airport is Chennai International Airport. From there, you can take a taxi or bus to Puducherry.<br />

        <b>Train:</b> <br />Puducherry has its own railway station with connections to Chennai, Bangalore, and nearby cities.<br />

        <b>Bus:</b> <br />State-run and private buses connect Puducherry to Chennai, Bangalore, and other towns.<br />

        <b>Road:</b><br /> Puducherry is accessible by car via well-maintained highways.<br />

        Within Puducherry, use local options like auto-rickshaws and taxis for getting around.
      </p>
    </div>
    <div class="frame">
      <img src="https://random.imagecdn.app/1600/950/?sikkimm/1600x700/?train" alt="Nature" aling="left" />
    </div>
  </div>

  <hr class="featurette-divider px-10 my-9" />
{% endblock %}
