{% extends 'base.html' %}

{% block title %}
  jodhpur
{% endblock %}

{% block body %}

  <div class="row featurette">
    <div class="col-md-7 px-7 px-5">
      <h2 class="featurette-heading fw-normal lh-1 my-5">Jodhpur</h2>
      <p class="lead">
        <strong>Jodhpur, situated in the Indian state of Rajasthan, is a historic city known for its majestic forts, vibrant culture, and desert landscapes. It offers a blend of architectural marvels, colorful markets, and traditional cuisine, making it a captivating destination for travelers.</strong>

        <br /><br />

        <b>Attractions:</b>
        <br /> Mehrangarh Fort <br />
        Jaswant Thada<br />
        Umaid Bhawan Palace<br />
        Ghanta Ghar (Clock Tower)<br />
        Mandore Gardens<br />
        Rao Jodha Desert Rock Park<br />
        Sardar Market<br />
        Toorji Ka Jhalra (Stepwell)<br />
        Osian Temples<br />
        Kaylana Lake<br />
        <br /><br />

        <b>Tips:</b>

        <br />-Wear comfortable clothing and shoes, especially if exploring forts and parks.<br />
        -Stay hydrated, especially during hot weather.<br />
        -Respect local customs and traditions, especially when visiting religious sites.<br />
        -Bargain while shopping in local markets for souvenirs and handicrafts.<br />
        -Be cautious of street food hygiene; opt for reputable eateries.<br />
        -Hire local guides for a more immersive experience and to gain insights into the city's history and culture.<br />
        -Carry necessary sun protection like hats, sunglasses, and sunscreen.<br />
      </p>
    </div>
    <style>
      .frame {
        width: 500px;
        height: 500px;
        border: 3px solid #ccc;
        background: #eee;
        margin: auto;
        padding: 15px 10px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    </style>
    <div class="frame">
      <img src="https://random.imagecdn.app/700/800/?jodhpur/India" alt="Nature" aling="right" />
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7 order-md-2 px-7">
      <h2 class="featurette-heading fw-normal lh-1 my-5">How to reach? <span class="text-body-secondary"></span></h2>
      <p class="lead">
        Certainly, here's a concise overview of how to reach Jodhpur:<br />

        <br />You can reach jodhpur by:<br />

        <b>Air:</b> ,<br /> Jodhpur Airport (Civil Airport) is well-connected to major cities like Delhi, Mumbai, and Jaipur. From the airport, taxis or auto-rickshaws are available for transportation to the city center.
        <br />

        <b>Train:</b> <br />Jodhpur Junction Railway Station is a major railhead, connected to various cities across India. Regular trains ply between Jodhpur and cities like Delhi, Jaipur, Mumbai, and Ahmedabad.<br />

        <b>Bus:</b> <br /> Rajasthan State Road Transport Corporation (RSRTC) operates buses from neighboring cities like Jaipur, Udaipur, and Ahmedabad. Private bus operators also offer services to and from Jodhpur.<br />

        <b>Road:</b><br />Jodhpur is well-connected by road to major cities and towns in Rajasthan and neighboring states. National Highways 62, 65, and 114 pass through Jodhpur, making it easily accessible by car or bus.<br />
      </p>
    </div>
    <div class="frame">
      <img src="https://random.imagecdn.app/700/800/?aeroplane" alt="Nature" aling="left" />
    </div>
  </div>

  <hr class="featurette-divider px-10 my-9" />
{% endblock %}
