{% extends 'base.html' %}

{% block title %}
  Jorhat
{% endblock %}

{% block body %}
 

  <div class="row featurette">
    <div class="col-md-7 px-7 px-5">
      <h2 class="featurette-heading fw-normal lh-1 my-5">Jorhat</h2>
      <p class="lead">
        <strong>Jorhat, often referred to as the "Tea Capital of India," is a charming city located in the northeastern state of Assam. Nestled amidst lush green landscapes and surrounded by sprawling tea estates, Jorhat holds a prominent place in India's cultural and economic tapestry. With a rich cultural heritage, a thriving tea industry, and a range of tourist attractions, Jorhat beckons visitors to explore its unique blend of tradition and natural beauty.</strong>

        <br /><br />

        <b>Attractions:</b>
        <br /> -Majuli Island<br />
        -Raja Maidam<br />
        -Thengal Bhawan<br />
        -Jorhat Gymkhana Club<br />
        -Nimati Ghat<br />
        -Matrimandir<br />
        -Botanical Garden<br />

        <br /><br />

        <b>Tips:</b>
        <br /> ->Plan your trip and research local attractions.<br />
        ->Be prepared for monsoon season if traveling during that time.<br />
        ->Respect local customs and traditions.<br />
        ->Use local transportation options wisely.<br />
      </p>
    </div>
    <style>
      .frame {
        width: 500px;
        height: 500px;
        border: 3px solid #ccc;
        background: #eee;
        margin: auto;
        padding: 15px 10px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    </style>
    <div class="frame">
      <img src="static/img/jorhat.jpg" alt="Nature" aling="right" />
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7 order-md-2 px-7">
      <h2 class="featurette-heading fw-normal lh-1 my-5">How to reach? <span class="text-body-secondary"></span></h2>
      <p class="lead">
        Certainly, here's a concise overview of how to reach Jorhat:<br />

        <br />You can reach Puducherry by:<br />

        <b>Air:</b> ,<br /> Fly to Jorhat Airport (Rowriah Airport) from major Indian cities.<br />

        <b>Train:</b> <br />Jorhat has a railway station with connections to other cities in India.<br />

        <b>Bus:</b> <br />State-run and private buses connect to towns.<br />

        <b>Road:</b><br /> Drive or take a bus to Jorhat via well-connected roadways.<br />

        Within Puducherry, use local options like auto-rickshaws and taxis for getting around.
      </p>
    </div>
    <div class="frame">
      <img src="https://random.imagecdn.app/1600/700/?travel" alt="Nature" aling="left" />
    </div>
  </div>

  <hr class="featurette-divider px-10 my-9" />
{% endblock %}
