{% extends 'base.html' %}

{% block title %}
  kasol
{% endblock %}

{% block body %}
  

  <div class="row featurette">
    <div class="col-md-7 px-7 px-5">
      <h2 class="featurette-heading fw-normal lh-1 my-5">kasol</h2>
      <p class="lead">
        <strong>Kasol, nestled in the Parvati Valley of the Indian state of Himachal Pradesh, is a picturesque hamlet renowned for its stunning landscapes and vibrant culture. Surrounded by lush greenery and the Parvati River, it has become a popular destination for backpackers seeking a tranquil escape amidst the Himalayas.</strong>

        <br /><br />

        <b>Attractions:</b>
        <br /> Scenic Landscapes<br />
        Trekking Trails (Kheerganga, Malana)<br />
        Cultural Fusion<br />
        Parvati River<br />
        Manikaran (Hot Springs, Temples)<br />
        Israeli Cuisine<br />
        Choj Bridge<br />
        Tosh Village<br />
        Riverside Camping<br />
        <br /><br />

        <b>Tips:</b>
        <br /> ->Plan your trip and research local attractions.<br />
        ->Be prepared for monsoon season if traveling during that time.<br />
        ->Respect local customs .<br />
        ->Use local transportation options wisely.<br />
      </p>
    </div>
    <style>
      .frame {
        width: 500px;
        height: 500px;
        border: 3px solid #ccc;
        background: #eee;
        margin: auto;
        padding: 15px 10px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    </style>
    <div class="frame">
      <img src="static/img/kasol.jpg" alt="Nature" aling="right" />
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7 order-md-2 px-7">
      <h2 class="featurette-heading fw-normal lh-1 my-5">How to reach? <span class="text-body-secondary"></span></h2>
      <p class="lead">
        Certainly, here's a concise overview of how to reach Jorhat:<br />

        <br />You can reach Puducherry by:<br />

        <b>Air:</b> ,<br /> Fly to Bhuntar Airport, then take a taxi or bus to Kasol.<br />

        <b>Train:</b> <br />Nearest railway stations are Joginder Nagar, Chandigarh, or Pathankot; from there, use buses or taxis to reach Kasol.<br />

        <b>Bus:</b> <br /> Regular bus services connect Kasol with major cities like Delhi and Chandigarh.<br />

        <b>Road:</b><br /> Kasol is accessible by road, offering scenic drives from nearby towns like Manali and Kullu.<br />
      </p>
    </div>
    <div class="frame">
      <img src="https://random.imagecdn.app/1600/700/?travel" alt="Nature" aling="left" />
    </div>
  </div>

  <hr class="featurette-divider px-10 my-9" />
{% endblock %}
