{% extends 'base.html' %}

{% block title %}
  manikar
{% endblock %}

{% block body %}
 

  <div class="row featurette">
    <div class="col-md-7 px-7 px-5">
      <h2 class="featurette-heading fw-normal lh-1 my-5">Manikaran</h2>
      <p class="lead">
        <strong>Manikaran is a picturesque town located in the northern Indian state of Himachal Pradesh. It is renowned for its hot springs and holds significant religious importance for both Hindus and Sikhs. Nestled in the Parvati Valley, Manikaran offers a serene and spiritual retreat for travelers.</strong>

        <br /><br />

        <b>Attractions:</b>
        <br /> -Manikaran Sahib Gurudwara<br />
        -Raja Maidam<br />
        -Thengal Bhawan<br />
        -Jorhat Gymkhana Club<br />
        -Hot Springs<br />
        -Kulant Pith<br />
        -Botanical Garden<br />

        <br /><br />

        <b>Tips:</b>
        <br /> ->Visit Gurudwara with Respect: When visiting the Gurudwara, cover your head, and be mindful of the religious customs.<br />
        ->Local Cuisine: Don't miss trying the langar (community meal) at the Gurudwara, which is a wholesome and delicious vegetarian meal.<br />
        ->Respect local customs and traditions.<br />
        ->Use local transportation options wisely.<br />
      </p>
    </div>
    <style>
      .frame {
        width: 500px;
        height: 500px;
        border: 3px solid #ccc;
        background: #eee;
        margin: auto;
        padding: 15px 10px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    </style>
    <div class="frame">
      <img src="static/img/manikarani.jpg" alt="Nature" aling="right" />
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7 order-md-2 px-7">
      <h2 class="featurette-heading fw-normal lh-1 my-5">How to reach? <span class="text-body-secondary"></span></h2>
      Certainly, here's a concise overview of how to reach Jorhat:<br />

      <br />You can reach manikarani by:<br />

      <b>**By Air:</b> <p>Fly to Bhuntar Airport (Kullu-Manali Airport) and then take a taxi or bus to Manikaran.</p>

      <b>**By Train:</b><p>The nearest railway station is Joginder Nagar, but it has limited connectivity. Consider taking a train to Chandigarh or Pathankot and then travel by road to Manikaran.</p>

      <b>**By Road:</b> <p>Manikaran is well-connected by road. You can take a bus or hire a taxi from nearby cities like Kullu, Manali, Chandigarh, or Delhi. Be prepared for winding mountain roads, especially during the monsoon season.</p>

      <b>**By Private Vehicle:</b><p>You can also drive to Manikaran, but be ready for challenging mountain roads and check the weather and road conditions before your journey.</p>
    </div>
    <div class="frame">
      <img src="https://random.imagecdn.app/1600/700/?travel" alt="Nature" aling="left" />
    </div>
  </div>

  <hr class="featurette-divider px-10 my-9" />
{% endblock %}
