{% extends 'base.html' %}

{% block title %}
  spiti
{% endblock %}

{% block body %}
 

  <div class="row featurette">
    <div class="col-md-7 px-7 px-5">
      <h2 class="featurette-heading fw-normal lh-1 my-5">spiti</h2>
      <p class="lead">
        <strong>Spiti Valley, located in the Indian state of Himachal Pradesh, is a remote and breathtakingly beautiful region nestled in the Himalayas. It is renowned for its rugged landscapes, ancient monasteries, and unique cultural heritage. Here's some information about Spiti Valley:</strong>

        <br /><br />

        <b>Attractions:</b>
        <br /> Key Monastery<br />
        Tabo Monastery<br />
        Dhankar Monastery<br />
        Chandratal Lake<br />
        Pin Valley National Park<br />
        Langza Village (Fossil Village)<br />
        Komic Village (Highest Motorable Village)<br />
        Hikkim Village (World's Highest Post Office)<br />
        <br /><br />

        <b>Tips:</b>
        <br />
        -Acclimatize properly to the high altitude to avoid altitude sickness.<br />
        -Carry warm clothing, even in summer, as temperatures can drop significantly, especially at night.<br />
        -Drink plenty of water to stay hydrated due to the dry climate and high altitude.<br />
        -Respect the local culture and traditions, especially when visiting monasteries and villages.<br />
        -Carry cash as ATM facilities are limited in the region.<br />
        -Plan your itinerary well in advance, considering the remote location and limited connectivity.<br />
        -Purchase basic supplies like snacks, water, and medication before heading to remote areas.<br />
      </p>
    </div>
    <style>
      .frame {
        width: 500px;
        height: 500px;
        border: 3px solid #ccc;
        background: #eee;
        margin: auto;
        padding: 15px 10px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    </style>
    <div class="frame">
      <img src="https://random.imagecdn.app/1600/700/?India,mountain" alt="Nature" aling="right" />
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7 order-md-2 px-7">
      <h2 class="featurette-heading fw-normal lh-1 my-5">How to reach? <span class="text-body-secondary"></span></h2>
      <p class="lead">
        Certainly, here's a concise overview of how to reach Spiti:<br />

        <br />You can reach Spiti by:<br />

        <b>Air:</b> ,<br /> The nearest airport is in Bhuntar, near Kullu, approximately 245 kilometers from Kaza, the headquarters of Spiti Valley.<br />

        <b>Trek:</b> <br /> For adventure enthusiasts, there are several trekking routes that lead to Spiti Valley from neighboring regions like Kinnaur and Ladakh.<br />

        <b>Road:</b><br /> Spiti Valley is accessible by road from Manali via the Manali-Leh Highway, which remains open from June to September, depending on weather conditions.<br />
      </p>
    </div>
    <div class="frame">
      <img src="https://source.unsplash.com/1600x700/?travel" alt="Nature" aling="left" />
    </div>
  </div>

  <hr class="featurette-divider px-10 my-9" />
{% endblock %}
