{% extends 'base.html' %}

{% block title %}
  Tosh
{% endblock %}

{% block body %}
  

  <div class="row featurette">
    <div class="col-md-7 px-7 px-5">
      <h2 class="featurette-heading fw-normal lh-1 my-5">kasol</h2>
      <p class="lead">
        <strong>Tosh is a picturesque village located in the Parvati Valley of Himachal Pradesh, India. It is known for its stunning natural beauty, tranquil atmosphere, and as a popular destination for backpackers and nature enthusiasts.</strong>

        <br /><br />

        <b>Attractions:</b>
        <br /> Tosh River<br />
        Tosh Village Trek<br />
        Tosh Temple<br />
        Kutla Village Trek<br />
        Waterfalls (nearby trekking routes)<br />
        Chalal Village (nearby)<br />
        <br /><br />

        <b>Tips:</b>
        <br />
        -Carry sufficient cash as there are limited ATMs in the area.<br />
        -Pack appropriate clothing and footwear for trekking and outdoor activities.<br />
        -Stay hydrated, especially during treks, as the altitude can cause dehydration. -Respect local culture and traditions; seek permission before photographing people or religious sites.<br />
        -Be mindful of your environmental impact; avoid littering and follow responsible tourism practices.<br />
        -Purchase supplies like snacks and water before starting treks as shops may be limited in remote areas.<br />
      </p>
    </div>
    <style>
      .frame {
        width: 500px;
        height: 500px;
        border: 3px solid #ccc;
        background: #eee;
        margin: auto;
        padding: 15px 10px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    </style>
    <div class="frame">
      <img src="static/img/kasol.jpg" alt="Nature" aling="right" />
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7 order-md-2 px-7">
      <h2 class="featurette-heading fw-normal lh-1 my-5">How to reach? <span class="text-body-secondary"></span></h2>
      <p class="lead">
        Certainly, here's a concise overview of how to reach Tosh:<br />

        <br />You can reach Tosh by:<br />

        <b>Air:</b> ,<br /> The nearest airport is Kullu-Manali Airport (Bhuntar Airport), located approximately 50 kilometers from Tosh.<br />

        <b>Train:</b> <br />The nearest railway station is Joginder Nagar Railway Station, located around 144 kilometers from Tosh.<br />

        <b>Bus:</b> <br /> Regular bus services connect Kasol with major cities like Delhi and Chandigarh.<br />

        <b>Road:</b><br /> Tosh is well-connected by road, and regular bus services operate from nearby towns like Bhuntar, Kasol, and Manali.<br />
      </p>
    </div>
    <div class="frame">
      <img src="https://random.imagecdn.app/1600/700/?travel" alt="Nature" aling="left" />
    </div>
  </div>

  <hr class="featurette-divider px-10 my-9" />
{% endblock %}
