{% extends 'base.html' %}
{% block title %}
  varanasi
{% endblock %}

{% block body %}
 
  <div class="row featurette">
    <div class="col-md-7 px-7 px-5">
      <h2 class="featurette-heading fw-normal lh-1 my-5">varanasi</h2>
      <p class="lead">
        <strong>Varanasi, also known as Kashi or Benaras, is a city in the northern Indian state of Uttar Pradesh. It is one of the oldest continuously inhabited cities in the world and is considered the spiritual capital of India. Varanasi is famous for its ghats (steps leading down to the river) along the sacred Ganges River, ancient temples, and rich cultural heritage.</strong>

        <br /><br />

        <b>Attractions:</b>
        <br /> Dashashwamedh Ghat <br />
        Kashi Vishwanath Temple <br />
        Sarnath (Buddhist pilgrimage site)<br />
        Assi Ghat<br />
        Manikarnika Ghat<br />
        Tulsi Manas Temple<br />
        Durga Temple (Monkey Temple)<br />
        Banaras Hindu University<br />
        Ramnagar Fort
        <br /><br />

        <b>Tips:</b>
        <br /> ->Respect local customs and traditions, especially around religious sites and during ceremonies.<br />
        -Dress modestly, especially if visiting temples and other religious places.<br />
        -Be cautious of street vendors and beggars; avoid giving money directly to them.<br />
        -Take care of your belongings in crowded areas to prevent theft.<br />
        -Explore the city's narrow alleys and bustling markets for a glimpse of local life.<br />
        -Attend the Ganga Aarti ceremony at Dashashwamedh Ghat for a spiritual experience.<br />
        -Try local street food but ensure it's from reputable vendors to avoid food-borne illnesses.<br />
      </p>
    </div>
    <style>
      .frame {
        width: 500px;
        height: 500px;
        border: 3px solid #ccc;
        background: #eee;
        margin: auto;
        padding: 15px 10px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    </style>
    <div class="frame">
      <img src="https://random.imagecdn.app/1600/700/?India,ganga" style="max-width:100%;height:auto;" alt="Nature" aling="right" />
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7 order-md-2 px-7">
      <h2 class="featurette-heading fw-normal lh-1 my-5">How to reach? <span class="text-body-secondary"></span></h2>
      <p class="lead">
        Certainly, here's a concise overview of how to reach varanasi:<br />

        <br />You can reach varanasi by:<br />

        <b>Air:</b> ,<br /> Lal Bahadur Shastri International Airport in Babatpur, Varanasi, connects the city to major Indian cities like Delhi, Mumbai, and Kolkata.<br />

        <b>Train:</b> <br />Varanasi Junction (BSB) is a major railway station with regular trains connecting Varanasi to various cities across India.<br />

        <b>Bus:</b>Varanasi is connected to nearby cities and towns by state-run and private buses. <br />

        <b>Road:</b><br /> National Highways 19, 31, and 31A pass through Varanasi, connecting it to major cities like Delhi, Lucknow, and Kolkata.<br />
      </p>
    </div>
    <div class="frame">
      <img src="https://random.imagecdn.app/1600/700/?travel"style="max-width:100%;height:auto;" alt="Nature" aling="left" />
    </div>
  </div>

  <hr class="featurette-divider px-10 my-9" />
{% endblock %}
